{
    "room_id": [
        12235923,
        14327465,
        21396545,
        21449083,
        23105590
    ],
    "db_url": "sqlite:///data/database.db",
    "sync_db_url": "mysql+pymysql://user:pass@server:port/db",
    "web": {
        "port": 8080,
        "debug": false
    },
    "live": {
        "default": 12235923
    }
}
